@model Category
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="center">
        <h1><a asp-controller = "Home" asp-action = "AllProducts"> Products</a> | Categories</h1>
    </div>
    <div class="container">
        <div class="left">
            <h2>New Category</h2>
            <form asp-controller = "Home" asp-action = "CreateCategory" method = "POST">
                <div>
                    <label asp-for = "Name"></label>
                    <div>
                        <input asp-for = "Name">
                        <span asp-validation-for = "Name"></span>
                    </div>
                </div>
                <button>Create</button>
            </form>
        </div>
        <div class="right">
            <h2>Existing Categories</h2>
            @foreach(Category cat in ViewBag.allCategories)
            {
                <p><a href = "/categories/@cat.CategoryId">@cat.Name</a></p>
            }
        </div>
    </div>
</body>
</html>